
body {
  background-color: #f8f8f8;
  text-align: center;
  overflow: hidden;
}
.hero-section {
  position: relative;
  text-align: center;
  color: white;
}
.hero-image {
  width: 100%;
  height: auto;
}
.hero-text {
  top: 50%;
  left: 50%;
  z-index: 1;
  padding: 20px;
  color: #762323;
}
.boutton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #b04a5a;
  color: white;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 5px;
}
.events-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}
.event-image {
  width: 80%;
  max-width: 600vw;
}
.events-text {
  margin-top: 20px;
}
.gallery {
  margin: 50px 0;
  width:100%;
}
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.gallery-container img {
  width: 30%;
  max-width: 300px;
  border-radius: 10px;
}
.footer {
  background-color: #4a4a4a;
  color: white;
  padding: 20px;
  margin-top: 20px;
}
@media only screen and (max-width: 600px) {
  .event-image {
    width: 80%;
  }
}