
/* styles/Services.module.css */

.heroImage {
    width: 100%;
    height: 120vh;
    
  
    object-fit: cover;
  }
  
  /* Container for everything except top hero image */
  .servicesContainer {
    margin: 0 auto;
    padding: 5px;
 
   margin: 0 auto;
   
  }
  
  /* Hero Section (the big text paragraph under hero) */
  .hero {
    text-align: center;
    margin-bottom: 50px;
    width: 80%;
    margin: 0 auto;
    padding-left: 80px;
   
  }
  .heroText {
    font-size: 80px;
  
    color: #000;
    font-weight: 600;
    
    
    text-align: left; 
    
  }
  

  .servicesSnippet {
    
    margin: 0 auto;
    padding: 5px;
  }
  

  .servicesHeading {
    font-size: 90px;
    text-transform: uppercase;
    color: #4A3B46;
    text-align: center;
    font-family: "BOLDE", sans-serif;
    font-weight: bolder;
    
  }
  
 
  
  /* ----- Responsive Breakpoints ----- */
  @media (max-width: 1130px) and (min-width:500px) {
    .heroImage {
      height: 80vh;
      width: auto;
      object-fit: contain;
    }
    .heroText{
      font-size: 28px;
      
    }
    .servicesHeading{
      font-size: 28px;

    }

  }
  @media (max-width: 768px) {
    .hero{
      width: 100%;
      padding-left: 20px;
    
    }
    .heroText {
      font-size: 28px;
    }
    .serviceIcon {
      width: 80px;
    }
    .serviceText p {
      font-size: 16px;
    }
    .heroImage {
      width: 100vw;
      object-fit: contain;
      height: 70vh; /* Reduce height on smaller screens */
    }
   
  }
  @media (max-width: 480px) {

    .heroText {
      font-size: 28px;
    }
    .serviceText h3 {
      font-size: 18px;
    }
    .serviceText p {
      font-size: 14px;
    }
 
    .hero h1 {
        font-size: 28px;
    }
    .hero p {
        font-size: 14px;
    }
    .serviceCard h3 {
        font-size: 20px;
    }
    .serviceCard p {
        font-size: 14px;
    }
    .heroImage {
      height: 50vh; /* Further reduce for very small screens */
      object-fit: contain;
      width: 100vw;
    }
    .servicesHeading{
font-size: 36px;
    }
}
