/* ServiceRow.module.css */

/* Each service row container */
.serviceRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }
  
  /* Left group (icon + text) */
  .serviceLeft {
    display: flex;
    gap: 60px;
    
    flex: 1;
  }
  
  /* Right icon (optional) */
  .serviceRight img {
    width: 10vw; 
    height: auto;
  }
  
  /* Icon on the left */
  .serviceIcon {
    width: 300px;
    height: 300px;
  }
  
  /* The text block within each row */
  .serviceText {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-bottom: 30px;
  }
  
  /* Title heading */
  .serviceText h3 {
    font-size: 60px;
    color: #4A3B46;
    margin-top: 60px;
    font-weight: bold;
    text-transform: none;
  }
  /* Description text */
  .serviceText p {
    font-size: 48px;
    color: #4A3B46;
    font-weight: 400;
    text-align: left;
    line-height: 1.4;
    margin-top: -40px;
  }
  
  /* Remove border on last item */
  .serviceRow:last-child {
    border-bottom: none;
  }
  
  /* Responsive breakpoints if needed */
  @media (max-width: 1130px) and (min-width:400px) {
    .serviceIcon {
      width: 80px;
      height: 150px;
    }
    .serviceText p {
      font-size: 16px;
    }
    .serviceText h3 {
      font-size: 18px;
    }
    .serviceText{
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
    .serviceRow {
      display: flex;
      align-items: center;
      justify-content: space-between;
     
      width: 90%;
      margin: 0 auto;
      padding: 0;
    }
  }
  @media (max-width: 480px) {
    .serviceText h3 {
      font-size: 18px;
    }
    .serviceText p {
      font-size: 14px;
    }
  }
  